
<h1>Negociar</h1>

<!--

 .comment-list 

-->

<div id="respond" class="comment-respond">

    <h3 id="reply-title" class="comment-reply-title"></h3>
    <form id="commentform" class="comment-form" method="post" action="http://www.jlmonteagudo.com/wp-comments-post.php">
        <p class="comment-notes">
            <span id="email-notes"></span>

             Los campos necesarios están marcados 

            <span class="required"></span>
        </p>
        <p class="comment-form-author"

            <label for="author">

        Nombre 

        <span class="required"></span>
    </label>
    <input id="author" type="text" required="required" aria-required="true" size="30" value="" name="author"></input>

</p>
<p class="comment-form-email">

    <label for="email"></label>
    <input id="email" type="text" required="required" aria-required="true" aria-describedby="email-notes" size="30" value="" name="email"></input>

</p>
<p class="comment-form-url">

    <label for="url"></label>
    <input id="url" type="text" size="30" value="" name="url"></input>

</p>
<p class="comment-form-comment">

    <label for="comment"></label>
                <textarea id="comment" required="required" aria-required="true" aria-describedby="form-allowed-tags" rows="8" cols="45" name="comment"></textarea>
        </p>
        <p id="form-allowed-tags" class="form-allowed-tags"></p>
        <p class="form-submit"></p>
        <p style="display: none;"></p>
        <p style="display: none;"></p>
        <input id="ak_js" type="hidden" value="1434845729716" name="ak_js"></input>
    </form>

</div>
<!--

 #respond 

-->

</div>
<!--

 #comments 

-->




<!-- 

<section class="color1">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">


<video controls class="img-responsive">

<source src="images/video/video.mp4" type="video/mp4"></source>
	
</video>
	
</div>
	
</div>
	</section>

</div>

-->